.form-group{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #e8e8e7;
    border-radius: 20px;
    width: 400px;
    align-content: center;
    margin-left: 37%;
    margin-top: 3%;
}

.form-check-label{
    margin-left: 7%;
}

.exampleCheck1{
    margin-left: 4rem;
}

.btn{
    margin-left: 40%;
    margin-top: 3rem;
}