.card-container{
    width: 90rem;
    position: absolute;
    display: grid;
    display: flex;
    grid-template-columns: auto auto auto auto auto;
    padding-left: -1rem;
    margin-top: 5rem;
    margin-left: .9rem;
    box-shadow: rgba(0, 0, 0, 1.24) 6px 2px 8px;
}

.cards{
    height: 8rem;
    width: 126px;
    margin-top: 4rem;
    margin-left: 13.1rem;
}

.view1{
    position: absolute;
    left: 45rem;
    width: 9rem;
    margin-top: -.1rem;
    font-weight: bold;
    border-radius: 1rem;
}  

.view1:hover{
    background-color: darkgrey;
}

.addCart {
    margin-top: 20rem;
    margin-left: -5rem;
}

.title, .text{
    margin-top: 1rem;
    margin-left: 13rem;
    font-size: 16px;
}







